:root {
  --clr-main-900: #5200ff;
  --clr-black-100: #bfbfbf;
  --clr-black-200: #808080;
  --clr-black-800: #1e1e1e;
  --clr-black-900: #000000;
}

/*===================================
=============== 'CONTACT US' ===========
====================================*/
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.form-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-field {
  width: 400px;
  font-family: var(--ft-sec);
  height: 60px;
  padding: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  border-radius: 11px;
  outline: var(--clr-main-900);
  border: 1px solid var(--clr-black-200);
}

.input-field:focus {
  outline: var(--clr-main-900);
  border: 1px solid var(--clr-main-900);
}

.input-textarea {
  height: 180px;
  resize: none;
}

input[type="submit"] {
  background-color: var(--clr-main-900);
  outline: none;
  border: none;
  color: white;
  font-family: var(--ft-sec);
  font-weight: 600;
  cursor: pointer;
}
/*===================================
=============== 'SOCIAL SECTION' ===========
====================================*/
.social-links {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 30px;
}

.social-link img {
  height: 100%;
  object-fit: contain;
}

.social-link p {
  font-family: var(--ft-sec);
  font-size: 17px;
  font-weight: 500;
  color: var(--clr-black-800);
}

.footer p {
  font-family: var(--ft-sec);
  font-size: 17px;
  font-weight: 500;
  color: var(--clr-black-800);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
/* @media (max-width: 1700px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 1500px) {
  h1 {
    font-size: 4rem;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }
} */
.circle {
  /* mix-blend-mode: difference; */
  position: absolute;
  border: solid 1px black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 100;
  pointer-events: none;
}
.circle-dot {
  position: absolute;
  border: solid 1px black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 90;
  pointer-events: none;
  background-color: #000000;
}
